header.mainheader {
  display: flex;
  size: 400px;
  width: 100%;
  padding-top: 5em;
  flex-direction: column;
  background-color: orange;
}

.imgDisplay {
  display: flex;
  justify-content: center;
}

.displayName {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 30px;
}